@page "/Public/ForgotPassword"

<PageTitle>Forgot Password</PageTitle>

<div class="form-box shadow bg-white">
    <h5 class="mb-3">Let's get you back in</h5>
    <form method="post">

        <div class="mb-3">
            <label class="control-label" for="Email">Email</label>
            <input class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" value="">
            <span class="text-danger small field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
        </div>
        <div class="d-flex mb-2">
            <button type="submit" class="btn btn-dark flex-fill">Send password reset link</button>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <span class="text-secondary">Remembered your password?</span>
            <NavLink class="text-dark fw-bold ms-1" href="/Public/Login">Log in</NavLink>
        </div>
    </form>
</div>

@code {

}
