.font-small {
    font-size: 0.8125rem;
}

.text-dark {
    color: var(--text-color);
}

.hero {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 30rem;
    width: 100%;
}

.overlay {
    background-color: #16161680;
}

.hero-text,
.course-description {
    line-height: 1.3;
}

.flex-wrapper{
    width: 
}

.flex-wrapper::-webkit-scrollbar {
    display: none;
}

.course-card {
    width: 18.75rem;
    flex-shrink: 0;
}

.course-img {
    width: 100%;
    height: 9.6875rem;
    object-fit: cover;
}

.mentors-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.9rem;
    height: 21.25rem;
    width: 18.75rem;
    flex-shrink: 0;
}

.mentor-card-1 {
    background-image: url('images/Mentor 1.jpg');
}

.mentor-card-2 {
    background-image: url('images/Mentor 2.jpg');
}

.mentor-card-3 {
    background-image: url('images/Mentor 3.png');
}

.mentor-card-4 {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url('images/background_2.jpg');
}

.mentor-card-5 {
    background-image: url('images/Mentor 1.jpg');
}

span.mentor-experties {
    border: 1px solid #ffffff;
    border-radius: 1.5rem;
    padding: .35rem 1rem;
    font-size: .7rem;
    color: #ffffff;
    line-height: .7rem;
}

.faq {
    width: 35rem;
}

footer {
    background-color: var(--text-color);
}

@media screen and (max-width: 767px) {
    .container {
        padding-right: 0;
        padding-left: 1.5rem;
    }
    
    .course-card {
        width: 14.5rem;
    }

    .mentors-card {
        width: 16rem !important;
        border-radius:  1.3rem;
    }
}

@media screen and (max-width: 576px) {
    .container .justify-content-between {
        padding-right: 1.5rem;
    }
}