.font-small {
    font-size: 0.8125rem;
}

.text-dark {
    color: var(--text-color);
}

.hero {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 30rem;
    width: 100%;
}

.overlay {
    background-color: #16161680;
}

.hero-text,
.course-description {
    line-height: 1.3;
}

.flex-wrapper::-webkit-scrollbar {
    display: none;
}

.course-section {
    padding-bottom: 17rem;
}

.course-card {
    width: 22.5rem;
    flex-shrink: 0;
}

.courses-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 16.375rem;
}

.course-img-1 {
    background-image: url('images/course-1.png');
}

.course-img-2 {
    background-image: url('images/course-2.png');
}

.course-img-3 {
    background-image: url('images/course-3.png');
}

.course-price {
    bottom: 0.9375rem;
    right: 0.9375rem;
}

.rectangle-depth {
    width: 40rem;
    height: 20rem;
    background-color: #222222;
}

.mentors-section .flex-wrapper {
    padding-inline-end: 3rem;
}

.mentors {
    padding-block: 2rem;
    padding-inline-start: 3rem;
    top: -12rem;
    right: 0;
    width: 85%;
    background-color: #4D6BEE;
}

.mentors-header {
    padding-right: 3rem;
}

.mentors-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
    height: 19.25rem;
    width: 15.75rem;
    flex-shrink: 0;
}

.mentor-info {
    background-color: #00000033;
}

.mentor-card-1 {
    background-image: url('images/Mentor 1.jpg');
}

.mentor-card-2 {
    background-image: url('images/Mentor 2.jpg');
}

.mentor-card-3 {
    background-image: url('images/Mentor 3.png');
}

.mentor-card-4 {
    background-image: url('images/background_2.jpg');
}

.mentor-card-5 {
    background-image: url('images/Mentor 1.jpg');
}

.skills {
    max-height: 4.05rem;
    overflow: hidden;
}

span.mentor-experties {
    color: #ffffff;
    font-size: .9rem !important;
    font-weight: bold;
    height: fit-content;
}

.mentor-experties::after{
    content: '.';
    margin: 0 0.2rem;
}

span.mentor-experties.last::after{
    content: '';
    margin: 0;
}

.testimonial-section {
    padding: 0 1.5rem 12rem 1.5rem;
}

.testimonial-wrapper{
    width: 38.5rem;
}

.testimonial-card {
    width: 18.75rem;
    flex-shrink: 0;
    background-color: #F6F9FC;
}

.testimonial-img {
    background-image: url('images/Mentor 1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}

.faq-section {
    background-image: url('images/rectangle-bg.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 48rem;
}

.cta-section {
    margin-top: -15rem;
    background-color: #F6F9FC;
    width: 60rem;
    height: 17.1875rem;
    border-radius: 2rem;
}

.cta-section p{
    line-height: 1.3;
}

.faq {
    width: 35rem;
}


@media screen and (min-width: 1600px) {
    .cta-section {
        margin-top: -10rem;
    }

    .mentors-section {
        max-width: 1320px;
        margin: 0 auto;
    }

    .mentors {
        border-bottom-right-radius: 2rem !important;
        border-top-right-radius: 2rem !important
    }
}

@media screen and (min-width: 1400px) {
    .flex-wrapper {
        justify-content: center;
    }
}

    @media screen and (max-width: 1060px) {
        .cta-section {
            width: 80%;
        }
    }

    @media screen and (max-width: 991px) {

        .cta-section{
            margin-top: -17rem;
        }

        .rectangle-depth{
            width: 30rem;
        }

        .course-card {
            width: 19rem;
        }
    }

    @media screen and (max-width: 940px) {
        .testimonial-section{
            flex-direction: column;
            gap: 1.3rem !important;
            align-items: center;
        }
        .testimonial-heading {
            flex-direction: row !important;
            gap: 0.5rem;
            align-items: center;
        }
    }


    @media screen and (max-width: 767px) {

        .cta-section{
            margin-top: -15rem;
        }

        .mentors{
            width: 95%;
        }

        .mentors-card {
            width: 16rem !important;
            border-radius: 1.3rem;
        }

        .faq-section {
            height: auto;
            padding-top: 8rem !important;
            padding-bottom: 5rem !important;
        }

        .cta-section {
            width: 90%;
            border-radius: 1.7rem;
        }
    }

    @media screen and (max-width: 640px){
        .rectangle-depth{
            height: 17rem;
        }

        .mentors-card {
            height: 17rem;
        }

        .testimonial-wrapper{
            width: 100%;
            justify-content: center
        }
    }

    @media screen and (max-width: 600px) {
        .container {
            max-width: 100%;
            padding-left: 1.5rem;
            padding-right: 0;
        }

        .course-section {
            padding-bottom: 15rem;
        }

        .course-card{
            width: 22rem;
        }

        .course-footer{
            padding-right: 1.5rem;
        }

        .rectangle-depth{
            width: 23rem;
        }

        .testimonial-section{
            padding-bottom: 10rem;
        }

        .mentors {
            padding-left: 2.5rem;
            padding-right: 0;
        }

        .faq-section {
            padding-top: 12rem !important;
        }

        .cta-section {
            margin-top: -17rem;
            height: auto;
            padding-top: 2.5rem !important;
            padding-bottom: 2.5rem !important;
        }

        .flex-wrapper {
            padding-right: 1.5rem;
        }

        .mentors-section .flex-wrapper {
            padding-inline-end: 2.5rem;
        }
        
    }

    @media screen and (max-width: 576px) {
        .cta-section,
        .faq {
            width: 100%;
        }

        .testimonial-card{
            flex-shrink: 1;
        }
    }