@page "/"
@page "/Public/"
@using TrankeetWeb.Pages.Components

<PageTitle> Welcome Page</PageTitle>

<HeadContent>
    <style>
        body {
            background-color: white;
            background-image: none;
        }

        main {
            display: block !important;
            justify-content: start !important;
            align-items: start !important;
            padding-top: 3.5rem !important;
            padding-bottom: 0 !important;
        }
    </style>
</HeadContent>


<section class="hero">
    <div class="d-flex flex-column justify-content-center align-items-center overlay h-100 w-100">
        <div class="d-flex flex-column gap-2 text-white text-center">
            <h2 class="mb-0 fw-semibold">Welcome To Trankeet</h2>
            <p class="mb-0 col-11 col-sm-9 col-lg-8 mx-auto hero-text fw-light">
                Home for basic learning opportunities for young africans aged 13-22
                in leadership, digital skills, and STEM courses.
            </p>
        </div>
    </div>
</section>

<section class="container d-flex flex-column gap-2 pt-5 pb-4">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="mb-0 fw-semibold">Top Courses</h4>
        <NavLink class="btn text-decoration-none btn-link text-dark btn-sm" href="/Public/Courses">View More</NavLink>
    </div>
    <div class="d-flex flex-wrapper flex-nowrap gap-3 overflow-x-scroll">

        <div class="d-flex flex-column gap-3 course-card">
            <div class="d-flex flex-column gap-2">
                <img class="course-img img-fluid rounded-4" src="/images/background.jpg" />
                <div class="d-flex flex-column gap-1">
                    <h6 class="fw-semibold mb-0">AI Fundamentals</h6>
                    <p class="course-description mb-0">Morem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div>
                <button class="btn btn-outline-primary">Learn More</button>
            </div>
        </div>
        <div class="d-flex flex-column gap-3 course-card">
            <div class="d-flex flex-column gap-2">
                <img class="course-img img-fluid rounded-4" src="/images/background.jpg" />
                <div class="d-flex flex-column gap-1">
                    <h6 class="fw-semibold mb-0">AI Fundamentals</h6>
                    <p class="course-description mb-0">Morem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div>
                <button class="btn btn-outline-primary">Learn More</button>
            </div>
        </div>
        <div class="d-flex flex-column gap-3 course-card">
            <div class="d-flex flex-column gap-2">
                <img class="course-img img-fluid rounded-4" src="/images/background.jpg" />
                <div class="d-flex flex-column gap-1">
                    <h6 class="fw-semibold mb-0">AI Fundamentals</h6>
                    <p class="course-description mb-0">Morem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div>
                <button class="btn btn-outline-primary">Learn More</button>
            </div>
        </div>
        <div class="d-flex flex-column gap-3 course-card">
            <div class="d-flex flex-column gap-2">
                <img class="course-img img-fluid rounded-4" src="/images/background.jpg" />
                <div class="d-flex flex-column gap-1">
                    <h6 class="fw-semibold mb-0">AI Fundamentals</h6>
                    <p class="course-description mb-0">Morem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div>
                <button class="btn btn-outline-primary">Learn More</button>
            </div>
        </div>
        <div class="d-flex flex-column gap-3 course-card">
            <div class="d-flex flex-column gap-2">
                <img class="course-img img-fluid rounded-4" src="/images/background.jpg" />
                <div class="d-flex flex-column gap-1">
                    <h6 class="fw-semibold mb-0">AI Fundamentals</h6>
                    <p class="course-description mb-0">Morem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div>
                <button class="btn btn-outline-primary">Learn More</button>
            </div>
        </div>
    </div>
</section>

<section class="container d-flex flex-column gap-2 py-4">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="mb-0 fw-semibold">Top Mentors</h4>
        <NavLink class="btn text-decoration-none btn-link text-dark btn-sm" href="/Public/Mentors">View More</NavLink>
    </div>
    <div class="d-flex flex-wrapper flex-nowrap gap-3 overflow-x-scroll">
        <div class="d-flex flex-column justify-content-end mentors-card mentor-card-1">
            <div class="d-flex flex-column gap-1 text-white px-4 pb-3 mentor-info">
                <div>
                    <h5 class="mb-0 fw-light">Nathan Recees</h5>
                    <p class="mb-0 font-small fw-bold">Software Developer</p>
                </div>

                <div class="row gap-1">
                    <span class="btn mentor-experties col-auto">User Interface</span>
                    <span class="btn mentor-experties col-auto">User Exprience</span>
                    <span class="btn mentor-experties col-auto">Wireframing</span>
                    <span class="btn mentor-experties col-auto">Interaction Design</span>
                </div>
            </div>
           
        </div>
        <div class="d-flex flex-column justify-content-end mentors-card mentor-card-2">
            <div class="d-flex flex-column gap-1 text-white px-4 pb-3 mentor-info">
                <div>
                    <h5 class="mb-0 fw-light">Sarah Gideon</h5>
                    <p class="mb-0 font-small fw-bold">UX Designer</p>
                </div>

                <div class="row gap-1">
                    <span class="btn mentor-experties col-auto">User Interface</span>
                    <span class="btn mentor-experties col-auto">Wireframing</span>
                </div>
            </div>
           
        </div>
        <div class="d-flex flex-column justify-content-end mentors-card mentor-card-3">
            <div class="d-flex flex-column gap-1 text-white px-4 pb-3 mentor-info">
                <div>
                    <h5 class="mb-0 fw-light">Dorcas Polet</h5>
                    <p class="mb-0 font-small fw-bold">Data Analyst</p>
                </div>

                <div class="row gap-1">
                    <span class="btn mentor-experties col-auto">User Exprience</span>
                    <span class="btn mentor-experties col-auto">Wireframing</span>
                    <span class="btn mentor-experties col-auto">Interaction Design</span>
                </div>
            </div>

        </div>
        <div class="d-flex flex-column justify-content-end mentors-card mentor-card-4">
            <div class="d-flex flex-column gap-1 text-white px-4 pb-3 mentor-info">
                <div>
                    <h5 class="mb-0 fw-light">Symeon Omomowo</h5>
                    <p class="mb-0 font-small fw-bold">Database Administrator</p>
                </div>

                <div class="row gap-1">
                    <span class="btn mentor-experties col-auto">User Interface</span>
                    <span class="btn mentor-experties col-auto">User Exprience</span>
                    <span class="btn mentor-experties col-auto">Wireframing</span>
                    <span class="btn mentor-experties col-auto">Interaction Design</span>
                </div>
            </div>

        </div>
        <div class="d-flex flex-column justify-content-end mentors-card mentor-card-5">
            <div class="d-flex flex-column gap-1 text-white px-4 pb-3 mentor-info">
                <div>
                    <h5 class="mb-0 fw-light">Tayo Akinkumi</h5>
                    <p class="mb-0 font-small fw-bold">Data Scientist</p>
                </div>

                <div class="row gap-1">
                    <span class="btn mentor-experties col-auto">User Interface</span>
                    <span class="btn mentor-experties col-auto">User Exprience</span>
                    <span class="btn mentor-experties col-auto">Interaction Design</span>
                    <span class="btn mentor-experties col-auto">Wireframing</span>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="d-flex justify-content-center py-4">
    <div class="faq d-flex flex-column gap-4 bg-white rounded-4 px-4 px-sm-5">
        <h4 class="mb-0 text-center fw-semibold">Frequently Asked Questions</h4>

        <div class="d-flex flex-column gap-3 px-0">
            @foreach (var faq in faqs)
            {
                <Accordion Faq="faq" MarkOthersButThisAsInActive="MarkOthersButThisAsInActive" @key="faq" Index="@faqs.IndexOf(faq)" />
            }
        </div>
    </div>
</section>

<footer class="d-flex justify-content-center py-4 font-small text-white">
    © Copyright Trankeet 2024
</footer>



@code {
    List<Faq> faqs = new();

    protected override void OnInitialized()
    {
        faqs = new List<Faq>
        {
            new Faq("Is there a free trial available?", "Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.", true),
            new Faq("Can I change my plan later?", "Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible."),
            new Faq("What is your cancellation policy?", "Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible."),
            new Faq("'Can other info be added to an invoice?", "Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible."),
            new Faq("How does billing work?", "Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible."),
        };
    }

    void MarkOthersButThisAsInActive(Faq currentFaq)
    {
        faqs.ForEach(f =>
        {
            if (f != currentFaq)
            {
                f.IsActive = false;
            }
        });
    }
}
