<HeadContent>
    <style>
        body {
            background-color: white;
            background-image: none;
        }
    </style>
</HeadContent>

<section class="header">

</section>

@code {

}
