@page "/"
@page "/Public/"
@using TrankeetWeb.Pages.Components

<PageTitle> Welcome Page</PageTitle>

<HeadContent>
    <style>
        body {
            background-color: white;
            background-image: none;
        }

        main {
            display: block !important;
            justify-content: start !important;
            align-items: start !important;
            padding-top: 3.5rem !important;
            padding-bottom: 0 !important;
        }
    </style>
</HeadContent>


<section class="hero">
    <div class="d-flex flex-column justify-content-center align-items-center overlay h-100 w-100">
        <div class="d-flex flex-column gap-2 text-white text-center">
            <h2 class="mb-0 fw-semibold">Welcome To Trankeet</h2>
            <p class="mb-0 col-11 col-sm-9 col-lg-8 mx-auto hero-text fw-light">
                Home for basic learning opportunities for young africans aged 13-22
                in leadership, digital skills, and STEM courses.
            </p>
        </div>
    </div>
</section>

<section class="container d-flex flex-column gap-3 pt-5 course-section">
    <h2 class="d-flex flex-column mb-0 fw-semibold text-center">
        <span>
            Discover The Variety
        </span>
        <span>Of Courses</span>
    </h2>
    <div class="d-flex flex-column gap-3">
        <div class="d-flex flex-wrapper flex-nowrap gap-4 overflow-x-scroll">
            <div class="d-flex flex-column gap-2 course-card">
                <div class="courses-image course-img-1 rounded-4 position-relative">
                    <span style="background-color: #7388FF;" class="badge course-price fw-medium position-absolute">$29</span>
                </div>

                <div class="d-flex gap-3">
                    <div class="d-flex flex-column gap-1">
                        <h6 class="fw-semibold mb-0">AI Fundamentals</h6>
                        <p class="course-description mb-0">Morem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                    <div class="d-flex flex-column gap-1">
                        <p class="mb-0">4.9</p>
                        <svg width="57" height="9" viewBox="0 0 57 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 0.5L6.02963 3.10796L9 3.74671L6.975 5.99727L7.28115 9L4.5 7.78296L1.71885 9L2.025 5.99727L0 3.74671L2.97037 3.10796L4.5 0.5Z" fill="#4D6BEE" />
                            <path d="M16.5 0.5L18.0296 3.10796L21 3.74671L18.975 5.99727L19.2812 9L16.5 7.78296L13.7188 9L14.025 5.99727L12 3.74671L14.9704 3.10796L16.5 0.5Z" fill="#4D6BEE" />
                            <path d="M28.5 0.5L30.0296 3.10796L33 3.74671L30.975 5.99727L31.2812 9L28.5 7.78296L25.7188 9L26.025 5.99727L24 3.74671L26.9704 3.10796L28.5 0.5Z" fill="#4D6BEE" />
                            <path d="M40.5 0.5L42.0296 3.10796L45 3.74671L42.975 5.99727L43.2812 9L40.5 7.78296L37.7188 9L38.025 5.99727L36 3.74671L38.9704 3.10796L40.5 0.5Z" fill="#4D6BEE" />
                            <path d="M52.5 0.5L54.0296 3.10796L57 3.74671L54.975 5.99727L55.2812 9L52.5 7.78296L49.7188 9L50.025 5.99727L48 3.74671L50.9704 3.10796L52.5 0.5Z" fill="#F2F2F2" />
                            <path d="M49.7188 9L52.5 7.78296V0.5L50.9704 3.10796L48 3.74671L50.025 5.99727L49.7188 9Z" fill="#4D6BEE" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column gap-2 course-card">
                <div class="courses-image course-img-2 rounded-4 position-relative">
                    <span style="background-color: #7388FF;" class="badge course-price fw-medium position-absolute">$29</span>
                </div>

                <div class="d-flex gap-3">
                    <div class="d-flex flex-column gap-1">
                        <h6 class="fw-semibold mb-0">AI Fundamentals</h6>
                        <p class="course-description mb-0">Morem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                    <div class="d-flex flex-column gap-1">
                        <p class="mb-0">4.9</p>
                        <svg width="57" height="9" viewBox="0 0 57 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 0.5L6.02963 3.10796L9 3.74671L6.975 5.99727L7.28115 9L4.5 7.78296L1.71885 9L2.025 5.99727L0 3.74671L2.97037 3.10796L4.5 0.5Z" fill="#4D6BEE" />
                            <path d="M16.5 0.5L18.0296 3.10796L21 3.74671L18.975 5.99727L19.2812 9L16.5 7.78296L13.7188 9L14.025 5.99727L12 3.74671L14.9704 3.10796L16.5 0.5Z" fill="#4D6BEE" />
                            <path d="M28.5 0.5L30.0296 3.10796L33 3.74671L30.975 5.99727L31.2812 9L28.5 7.78296L25.7188 9L26.025 5.99727L24 3.74671L26.9704 3.10796L28.5 0.5Z" fill="#4D6BEE" />
                            <path d="M40.5 0.5L42.0296 3.10796L45 3.74671L42.975 5.99727L43.2812 9L40.5 7.78296L37.7188 9L38.025 5.99727L36 3.74671L38.9704 3.10796L40.5 0.5Z" fill="#4D6BEE" />
                            <path d="M52.5 0.5L54.0296 3.10796L57 3.74671L54.975 5.99727L55.2812 9L52.5 7.78296L49.7188 9L50.025 5.99727L48 3.74671L50.9704 3.10796L52.5 0.5Z" fill="#F2F2F2" />
                            <path d="M49.7188 9L52.5 7.78296V0.5L50.9704 3.10796L48 3.74671L50.025 5.99727L49.7188 9Z" fill="#4D6BEE" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column gap-2 course-card">
                <div class="courses-image course-img-3 rounded-4 position-relative">
                    <span style="background-color: #7388FF;" class="badge course-price fw-medium position-absolute">$29</span>
                </div>

                <div class="d-flex gap-3">
                    <div class="d-flex flex-column gap-1">
                        <h6 class="fw-semibold mb-0">AI Fundamentals</h6>
                        <p class="course-description mb-0">Morem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                    <div class="d-flex flex-column gap-1">
                        <p class="mb-0">4.9</p>
                        <svg width="57" height="9" viewBox="0 0 57 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 0.5L6.02963 3.10796L9 3.74671L6.975 5.99727L7.28115 9L4.5 7.78296L1.71885 9L2.025 5.99727L0 3.74671L2.97037 3.10796L4.5 0.5Z" fill="#4D6BEE" />
                            <path d="M16.5 0.5L18.0296 3.10796L21 3.74671L18.975 5.99727L19.2812 9L16.5 7.78296L13.7188 9L14.025 5.99727L12 3.74671L14.9704 3.10796L16.5 0.5Z" fill="#4D6BEE" />
                            <path d="M28.5 0.5L30.0296 3.10796L33 3.74671L30.975 5.99727L31.2812 9L28.5 7.78296L25.7188 9L26.025 5.99727L24 3.74671L26.9704 3.10796L28.5 0.5Z" fill="#4D6BEE" />
                            <path d="M40.5 0.5L42.0296 3.10796L45 3.74671L42.975 5.99727L43.2812 9L40.5 7.78296L37.7188 9L38.025 5.99727L36 3.74671L38.9704 3.10796L40.5 0.5Z" fill="#4D6BEE" />
                            <path d="M52.5 0.5L54.0296 3.10796L57 3.74671L54.975 5.99727L55.2812 9L52.5 7.78296L49.7188 9L50.025 5.99727L48 3.74671L50.9704 3.10796L52.5 0.5Z" fill="#F2F2F2" />
                            <path d="M49.7188 9L52.5 7.78296V0.5L50.9704 3.10796L48 3.74671L50.025 5.99727L49.7188 9Z" fill="#4D6BEE" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end course-footer">
            <NavLink class="btn btn-link text-decoration-none px-0 fw-medium btn-sm" href="/Public/Courses">See More</NavLink>
        </div>
    </div>
    

</section>

<section class="mentors-section d-flex pt-3 pb-5 position-relative">
    <div class="rectangle-depth rounded-5 rounded-start-0">

    </div>
    <div class="d-flex flex-column gap-2 mentors rounded-5 rounded-end-0 position-absolute">
        <div class="d-flex align-items-center justify-content-between text-white mentors-header">
            <h4 class="mb-0 fw-semibold">Top Mentors</h4>
            <NavLink class="mentor-link text-decoration-none fw-medium text-white btn-sm" href="/Public/Mentors">View More</NavLink>
        </div>
        <div class="d-flex flex-wrapper justify-content-start flex-nowrap gap-3 overflow-x-scroll">
            <div class="d-flex flex-column justify-content-end mentors-card mentor-card-1">
                <div class="d-flex flex-column gap-1 text-white p-3 mentor-info">
                    <div>
                        <h5 class="mb-0 fw-light">Nathan Recees</h5>
                    </div>

                    <div class="d-flex flex-wrap skills">
                        <span class="mentor-experties col-auto">User Interface</span>
                        <span class="mentor-experties col-auto">User Exprience</span>
                        <span class="mentor-experties col-auto">Wireframing</span>
                        <span class="mentor-experties col-auto last">Interaction Design</span>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-column justify-content-end mentors-card mentor-card-2">
                <div class="d-flex flex-column gap-1 text-white px-4 py-3 mentor-info">
                    <div>
                        <h5 class="mb-0 fw-light">Sarah Gideon</h5>
                    </div>

                    <div class="d-flex flex-wrap skills">
                        <span class="mentor-experties col-auto">User Interface</span>
                        <span class="mentor-experties col-auto last">Wireframing</span>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-column justify-content-end mentors-card mentor-card-3">
                <div class="d-flex flex-column gap-1 text-white p-3 mentor-info">
                    <div>
                        <h5 class="mb-0 fw-light">Dorcas Polet</h5>
                    </div>

                    <div class="d-flex flex-wrap skills">
                        <span class="mentor-experties col-auto">User Exprience</span>
                        <span class="mentor-experties col-auto">Wireframing</span>
                        <span class="mentor-experties col-auto last">Interaction Design</span>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-column justify-content-end mentors-card mentor-card-4">
                <div class="d-flex flex-column gap-1 text-white p-3 mentor-info">
                    <div>
                        <h5 class="mb-0 fw-light">Symeon Omomowo</h5>
                    </div>

                    <div class="d-flex flex-wrap skills">
                        <span class="mentor-experties col-auto">User Interface</span>
                        <span class="mentor-experties col-auto">User Exprience</span>
                        <span class="mentor-experties col-auto">Wireframing</span>
                        <span class="mentor-experties col-auto last">Interaction Design</span>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-column justify-content-end mentors-card mentor-card-5">
                <div class="d-flex flex-column gap-1 text-white p-3 mentor-info">
                    <div>
                        <h5 class="mb-0 fw-light">Tayo Akinkumi</h5>
                    </div>

                    <div class="d-flex flex-wrap skills">
                        <span class="mentor-experties col-auto">User Interface</span>
                        <span class="mentor-experties col-auto">User Exprience</span>
                        <span class="mentor-experties col-auto last">Interaction Design</span>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-column justify-content-end mentors-card mentor-card-2">
                <div class="d-flex flex-column gap-1 text-white p-3 mentor-info">
                    <div>
                        <h5 class="mb-0 fw-light">Sarah Gideon</h5>
                    </div>

                    <div class="d-flex flex-wrap skills">
                        <span class="mentor-experties col-auto">User Interface</span>
                        <span class="mentor-experties col-auto last">Wireframing</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</section>

<section class="testimonial-section pt-4 d-flex gap-5 justify-content-center">
    <div>
        <h4 class="d-flex flex-column mb-0 testimonial-heading">
            <span>
                What Our Student
            </span>
            <span>
                Are Saying...
            </span>
        </h4>
    </div>
    <div class="d-flex gap-3 flex-wrap testimonial-wrapper">
        <div class="card testimonial-card border-0 rounded-4">
            <div class="card-body d-flex flex-column gap-2 p-4">
                <p class="mb-0">
                    “Lorem ipsum dolor sit amet dolo, consectetur adipiscing elit ut, lorem ipsum dolor sit amet, purus sit amet luctus venenatis, lectus magna fringill.”
                </p>
                <div class="d-flex gap-1">
                    <div class="rounded-circle testimonial-img">
                    </div>
                    <p class="mb-0 fw-semibold text-primary">- Jane Doe</p>
                </div>
            </div>
        </div>
        <div class="card testimonial-card border-0 rounded-4">
            <div class="card-body d-flex flex-column gap-2 p-4">
                <p class="mb-0">
                    “Lorem ipsum dolor sit amet dolo, consectetur adipiscing elit ut, lorem ipsum dolor sit amet, purus sit amet luctus venenatis, lectus magna fringill.”
                </p>
                <div class="d-flex gap-1">
                    <div class="rounded-circle testimonial-img">
                    </div>
                    <p class="mb-0 fw-semibold text-primary">- Jane Doe</p>
                </div>
            </div>
        </div>
        <div class="card testimonial-card border-0 rounded-4">
            <div class="card-body d-flex flex-column gap-2 p-4">
                <p class="mb-0">
                    “Lorem ipsum dolor sit amet dolo, consectetur adipiscing elit ut, lorem ipsum dolor sit amet, purus sit amet luctus venenatis, lectus magna fringill.”
                </p>
                <div class="d-flex gap-1">
                    <div class="rounded-circle testimonial-img">
                    </div>
                    <p class="mb-0 fw-semibold text-primary">- Jane Doe</p>
                </div>
            </div>
        </div>
        <div class="card testimonial-card border-0 rounded-4">
            <div class="card-body d-flex flex-column gap-2 p-4">
                <p class="mb-0">
                    “Lorem ipsum dolor sit amet dolo, consectetur adipiscing elit ut, lorem ipsum dolor sit amet, purus sit amet luctus venenatis, lectus magna fringill.”
                </p>
                <div class="d-flex gap-1">
                    <div class="rounded-circle testimonial-img">
                    </div>
                    <p class="mb-0 fw-semibold text-primary">- Jane Doe</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="faq-section d-flex flex-column align-items-center gap-5 justify-content-center align-items-center px-4 px-sm-0  py-5">
    <section class="d-flex flex-column align-items-center justify-content-center px-3 px-sm-0 py-4 gap-1 cta-section">
        <h3 class="mb-0 text-center">Ready To Take The Next Step?</h3>
        <p class="mb-0 text-center col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto">Take control of your education and succeed with Trankeet. Join now to access top notch course, personalized mentorship and dedicated support</p>
        <div class="mt-2">
            <button class="btn btn-primary">Enroll Now!</button>
        </div>
    </section>
    <div class="faq d-flex flex-column gap-4 text-white">
        <h4 class="mb-0 text-center fw-semibold">Frequently Asked Questions</h4>

        <div class="d-flex flex-column gap-3 px-0">
            @foreach (var faq in faqs)
            {
                <Accordion Faq="faq" MarkOthersButThisAsInActive="MarkOthersButThisAsInActive" @key="faq" Index="@faqs.IndexOf(faq)" />
            }
        </div>
    </div>
</section>

<footer class="d-flex justify-content-center py-4 font-small">
    © Copyright Trankeet 2024
</footer>



@code {
    List<Faq> faqs = new();

    protected override void OnInitialized()
    {
        faqs = new List<Faq>
        {
            new Faq("Is there a free trial available?", "Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.", true),
            new Faq("Can I change my plan later?", "Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible."),
            new Faq("What is your cancellation policy?", "Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible."),
            new Faq("'Can other info be added to an invoice?", "Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible."),
            new Faq("How does billing work?", "Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible."),
        };
    }

    void MarkOthersButThisAsInActive(Faq currentFaq)
    {
        faqs.ForEach(f =>
        {
            if (f != currentFaq)
            {
                f.IsActive = false;
            }
        });
    }
}
