@page "/App/Dashboard"

<PageTitle>DashBoard</PageTitle>
<SectionContent SectionName="layout-page-title">
    DashBoard
</SectionContent>


<section class="d-flex gap-3 flex-row flex-nowrap overflow-x-auto">
    <div class="card flex-shrink-0">
        <div class="card-body flex-column gap-1 px-4 pt-3 pb-5">
            <p class="mb-0 fw-light">Enrolled</p>
            <h5 class="fw-bold mb-0">8</h5>
        </div>
    </div>
    <div class="card flex-shrink-0">
        <div class="card-body flex-column gap-1 px-4 pt-3 pb-5">
            <p class="mb-0 fw-light">Ongoing</p>
            <h5 class="fw-bold mb-0">5</h5>
        </div>
    </div>
    <div class="card flex-shrink-0">
        <div class="card-body flex-column gap-1 px-4 pt-3 pb-5">
            <p class="mb-0 fw-light">Completed</p>
            <h5 class="fw-bold mb-0">3</h5>
        </div>
    </div>
</section>

<section class="d-flex gap-3 mt-4">
    <div class="d-flex flex-column gap-3">
        <div class="card">
            <div class="card-body flex-column gap-1 px-4 pt-3 pb-5">
                <p class="mb-0 fw-light">Ongoing</p>
                <h5 class="fw-bold mb-0">2</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-body px-4 pt-3 pb-5">
                <p class="mb-0 fw-light">Ongoing</p>
                <h5 class="fw-bold mb-0">2</h5>
            </div>
        </div>
    </div>
   <div class="table-responsive bg-white rounded-4 p-4 pb-5">
       <h5>List of mentors</h5>
       <table class="table">
           <thead>
               <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                    <th>Course</th>
                    <th>Status</th>
               </tr>
           </thead>
           <tbody>
                @for(var j = 0; j < 4; j++)
                {
                    <tr>
                        <td>Omomowo Reliance</td>
                        <td>omomowosymeon45@gmail.com</td>
                        <td>08064844392</td>
                        <td>Software Development</td>
                        <td class="text-warning">Ongoing</td>
                    </tr>
                }
           </tbody>
       </table>
   </div>

</section>



@code {

}
