@page "/App/Settings/ChangePassword"
@using TrankeetWeb.Pages.Components

<PageTitle>Settings/ChangePassword</PageTitle>
<SectionContent SectionName="layout-page-title">
    Settings
</SectionContent>

<SettingsPageTabComponent />

<section class="bg-white p-4 rounded-3 change-password-wrapper mt-4">
    <div class="d-flex flex-column gap-1 border-bottom pb-3">
        <h5 class="fw-semibold mb-0">Change Password</h5>
        <p class="mb-0 text-small">
            Change your password so as to update your security.
        </p>
    </div>
    <form method="post" class="d-flex flex-column gap-2">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="OldPassword" class="form-label mb-1">Old Password</label>
            <input asp-for="OldPassword" type="password" class="form-control" required />
        </div>
        <div>
            <label asp-for="NewPassword" class="form-label mb-1">New Password</label>
            <input asp-for="NewPassword" type="password" class="form-control" required />
        </div>
        <div>
            <label asp-for="ConfirmPassword" class="form-label mb-1">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" required />
        </div>
        <div class="mt-1">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>
</section>