@page "/App/Messages"

<PageTitle>Messages</PageTitle>
<SectionContent SectionName="layout-page-title">
    Messages
</SectionContent>


<section class="d-flex vh-100 chat-section">
        <section class="chat d-flex flex-column h-100 bg-white border">
            <div class="d-flex flex-column gap-3 pb-3 py-4 px-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="fw-bold">Chat</h5>
                </div>
                <input class="form-control bg-grey" type="search" placeholder="search" name="search" id="search">
            </div>
            <div class="d-flex chat-list flex-column gap-3 px-4 pt-3 pb-4">
                <div class="d-flex align-items-start gap-3 chat-snippet">
                    <img src="~/images/Vector.svg" alt="">
                    <div class="d-flex gap-4 gap-sm-5 gap-md-4 flex-fill">
                        <div class="d-flex flex-column">
                            <p class="mb-0 fw-bold">Ronaldo</p>
                            <p class="mb-0 font-small span">Lorem ipsum dolor sit amet consectetur, adipisicing  
                                elit. Accusamus illum optio quisquam sit et error eius, quia iusto at natus.
                            </p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="mb-0">10:00pm</p>
                            <p class="mb-0 align-self-end"><img src="~/images/check.svg" class="img-fluid" alt=""></p>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-start gap-3 chat-snippet">
                    <img src="~/images/Vector.svg" alt="">
                    <div class="d-flex gap-4 gap-sm-5 gap-md-4 flex-fill">
                        <div class="d-flex flex-column">
                            <p class="mb-0 fw-bold">Ronaldo</p>
                            <p class="mb-0 font-small span">Lorem ipsum dolor sit amet consectetur, adipisicing
                                elit. Accusamus illum optio quisquam sit et error eius, quia iusto at natus.
                            </p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="mb-0">10:00pm</p>
                            <p class="mb-0 align-self-end"><img src="~/images/check.svg" class="img-fluid" alt=""></p>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-start gap-3 chat-snippet">
                    <img src="~/images/Vector.svg" alt="">
                    <div class="d-flex gap-4 gap-sm-5 gap-md-4 flex-fill">
                        <div class="d-flex flex-column">
                            <p class="mb-0 fw-bold">Ronaldo</p>
                            <p class="mb-0 font-small span">Lorem ipsum dolor sit amet consectetur, adipisicing
                                elit. Accusamus illum optio quisquam sit et error eius, quia iusto at natus.
                            </p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="mb-0">10:00pm</p>
                            <p class="mb-0 align-self-end"><img src="~/images/unread.svg" class="img-fluid" alt=""></p>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-start gap-3 chat-snippet">
                    <img src="~/images/Vector.svg" alt="">
                    <div class="d-flex gap-4 gap-sm-5 gap-md-4 flex-fill">
                        <div class="d-flex flex-column">
                            <p class="mb-0 fw-bold">Ronaldo</p>
                            <p class="mb-0 font-small span">Lorem ipsum dolor sit amet consectetur, adipisicing
                                elit. Accusamus illum optio quisquam sit et error eius, quia iusto at natus.
                            </p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="mb-0">10:00pm</p>
                            <p class="mb-0 align-self-end"><img src="~/images/unread.svg" class="img-fluid" alt=""></p>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-start gap-3 chat-snippet">
                    <img src="~/images/Vector.svg" alt="">
                    <div class="d-flex gap-4 gap-sm-5 gap-md-4 flex-fill">
                        <div class="d-flex flex-column">
                            <p class="mb-0 fw-bold">Ronaldo</p>
                            <p class="mb-0 font-small span">Lorem ipsum dolor sit amet consectetur, adipisicing
                                elit. Accusamus illum optio quisquam sit et error eius, quia iusto at natus.
                            </p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="mb-0">10:00pm</p>
                            <p class="mb-0 align-self-end"><img src="~/images/unread.svg" class="img-fluid" alt=""></p>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-start gap-3 chat-snippet">
                    <img src="~/images/Vector.svg" alt="">
                    <div class="d-flex gap-4 gap-sm-5 gap-md-4 flex-fill">
                        <div class="d-flex flex-column">
                            <p class="mb-0 fw-bold">Ronaldo</p>
                            <p class="mb-0 font-small span">Lorem ipsum dolor sit amet consectetur, adipisicing
                                elit. Accusamus illum optio quisquam sit et error eius, quia iusto at natus.
                            </p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="mb-0">10:00pm</p>
                            <p class="mb-0 align-self-end"><img src="~/images/unread.svg" class="img-fluid" alt=""></p>
                        </div>
                    </div>
                </div>
            </div>
               
        </section>
        <section class="d-none d-md-block position-relative flex-md-fill">
            <div class="bg-primary px-4 px-lg-5 py-3 border-bottom d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-3">
                    <img src="~/images/Vector.svg" alt="">
                    <div class="d-flex flex-column">
                        <p class="fw-bold mb-0">Ronaldo</p>
                        <p class="mb-0">Last seen at 12:02am</p>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <img class="img-fluid" src="images/phone.svg" alt="">
                    <img class="img-fluid" src="images/video.svg" alt="">
                    <i class="fa fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="d-flex flex-column pt-4 chat-wrapper overflow-auto">
                <div class="d-flex flex-column gap-4 pb-4">
                    <div class="px-4 px-lg-5">
                        <div class="d-flex gap-2 align-items-start">
                            <img class="img-fluid" src="images/Vector.svg" alt="">
                            <div class="d-flex flex-column gap-1 col-md-10 col-lg-9">
                                <p class="font-small message mb-0 p-3 bg-primary rounded-0 rounded-end 
                                    rounded-bottom">Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit, mollitiaeos.
                                </p>
                                <p class="font-small message mb-0 p-3 bg-primary rounded-0 rounded-end 
                                    rounded-bottom">Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit, mollitiaeos.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 px-lg-5">
                        <div class="d-flex gap-2 align-items-start justify-content-end">
                            <div class="d-flex flex-column gap-1 col-md-10 col-lg-9">
                                <p class="font-small text-primary mb-0 p-3 bg-accent rounded-0 rounded-start 
                                    rounded-bottom">Lorem ipsum dolor sit amet
                                    consectetur,
                                    adipisicing elit, mollitiaeos.
                                </p>
                                <p class="font-small text-primary mb-0 p-3 bg-accent rounded-0 rounded-start 
                                    rounded-bottom">Lorem ipsum dolor sit amet
                                    consectetur,
                                    adipisicing elit, mollitiaeos.
                                </p>
                            </div>
                            <img class="img-fluid" src="images/Vector.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex position-absolute bottom-0 end-0 start-0 align-items-center border-top justify-content-between bg-primary py-3 px-4 px-lg-5">
                    <div class="d-flex align-items-center gap-3">
                        <div class="d-flex align-items-center gap-2">
                            <img class="img-fluid" src="images/paperclip.svg" alt="">
                            <img class="img-fluid" src="images/smile.svg" alt="">
                        </div>
                        <div>
                            <p class="mb-0 font-small">Write message.......</p>
                        </div>
                    </div>
                        
                    <div class="d-flex align-items-center gap-2">
                        <img class="img-fluid" src="images/mic.svg" alt="">
                        <img class="img-fluid" src="images/send_message.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
</section>

@code {

}
