@page "/App/MyCourses"

<PageTitle>My Courses</PageTitle>
<SectionContent SectionName="layout-page-title">
    My Courses
</SectionContent>

<section class="-flex flex-wrap gap-3 px-4 py-5">
    <div>
        <img width="50" height="50" src="/images/background.jpg" />
    </div>
</section>