@page "/App/Support"

<PageTitle>Support</PageTitle>
<SectionContent SectionName="layout-page-title">
    Support
</SectionContent>



<section class="d-flex flex-column gap-4 bg-white pt-4 pb-5 rounded-4 support-ticket-wrapper">
    <div class="d-flex align-items-center justify-content-between px-4">
        <h5 class="mb-0 fw-semibold">Support Ticket</h5>
        <button class="d-flex align-items-center gap-1 btn btn-primary">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_8_8743)">
                    <path d="M11 20C11 20.2652 11.1054 20.5196 11.2929 20.7071C11.4804 20.8946 11.7348 21 12 21C12.2652 21 12.5196 20.8946 12.7071 20.7071C12.8946 20.5196 13 20.2652 13 20V13H20C20.2652 13 20.5196 12.8946 20.7071 12.7071C20.8946 12.5196 21 12.2652 21 12C21 11.7348 20.8946 11.4804 20.7071 11.2929C20.5196 11.1054 20.2652 11 20 11H13V4C13 3.73478 12.8946 3.48043 12.7071 3.29289C12.5196 3.10536 12.2652 3 12 3C11.7348 3 11.4804 3.10536 11.2929 3.29289C11.1054 3.48043 11 3.73478 11 4V11H4C3.73478 11 3.48043 11.1054 3.29289 11.2929C3.10536 11.4804 3 11.7348 3 12C3 12.2652 3.10536 12.5196 3.29289 12.7071C3.48043 12.8946 3.73478 13 4 13H11V20Z" fill="white" />
                </g>
                <defs>
                    <clipPath id="clip0_8_8743">
                        <rect width="24" height="24" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <span>Create Ticket</span>
        </button>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tbody class="">
                <tr class="">
                    <td class="ps-4 py-3">SR#136354726</td>
                    <td class="py-3 text-nowrap">Refund Request</td>
                    <td class="py-3">07/07/2024</td>
                    <td class="pe-4 py-3">
                        <span class="badge fw-bold text-bg-warning">Pending</span>

                    </td>
                </tr>
                <tr class="">
                    <td class="ps-4 py-3">SR#136354726</td>
                    <td class="py-3 text-nowrap">Refund Request</td>
                    <td class="py-3">07/07/2024</td>
                    <td class="pe-4 py-3">
                        <span class="badge fw-bold text-bg-success">Completed</span>

                    </td>
                </tr>
                <tr class="">
                    <td class="ps-4 py-3">SR#136354726</td>
                    <td class="py-3 text-nowrap">Refund Request</td>
                    <td class="py-3">07/07/2024</td>
                    <td class="pe-4 py-3">
                        <span class="badge fw-bold text-bg-danger">Closed</span>

                    </td>
                </tr>
            </tbody>        
        </table>
    </div>
</section>

@code {

}
