@page "/App/Transactions"

<PageTitle>Transactions</PageTitle>
<SectionContent SectionName="layout-page-title">
    Transactions
</SectionContent>

<section class="d-flex flex-column gap-3 transaction-wrapper">
    <div class="d-flex flex-row align-items-start gap-3 p-3 bg-white rounded-3">
        <img src="./images//wallet_icon.svg" />

        <div class="d-flex gap-3 flex-fill">
            <div class="d-flex flex-column gap-1">
                <p class="mb-0 fw-light transaction-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam non, voluptas reprehenderit deleniti ipsum eaque!
                </p>
                <p class="mb-0 font-small">Friday, April 7, 2023 08:23am</p>
            </div>
            <p class="mb-0 text-success">₦5000</p>
        </div>
    </div>
    <div class="d-flex flex-row align-items-start gap-3 p-3 bg-white rounded-3">
        <img src="./images//wallet_icon.svg" />

        <div class="d-flex gap-3 flex-fill">
            <div class="d-flex flex-column gap-1">
                <p class="mb-0 fw-light transaction-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam non, voluptas reprehenderit deleniti ipsum eaque!
                </p>
                <p class="mb-0 font-small">Friday, April 7, 2023 08:23am</p>
            </div>
            <p class="mb-0 text-danger">₦15,000</p>
        </div>
    </div>
    <div class="d-flex flex-row align-items-start gap-3 p-3 bg-white rounded-3">
        <img src="./images//wallet_icon.svg" />

        <div class="d-flex gap-3 flex-fill">
            <div class="d-flex flex-column gap-1">
                <p class="mb-0 fw-light transaction-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam non, voluptas reprehenderit deleniti ipsum eaque!
                </p>
                <p class="mb-0 font-small">Friday, April 7, 2023 08:23am</p>
            </div>
            <p class="mb-0 text-success">₦5000</p>
        </div>
    </div>
    <div class="d-flex flex-row align-items-start gap-3 p-3 bg-white rounded-3">
        <img src="./images//wallet_icon.svg" />

        <div class="d-flex gap-3 flex-fill">
            <div class="d-flex flex-column gap-1">
                <p class="mb-0 fw-light transaction-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam non, voluptas reprehenderit deleniti ipsum eaque!
                </p>
                <p class="mb-0 font-small">Friday, April 7, 2023 08:23am</p>
            </div>
            <p class="mb-0 text-danger">₦1,245,000</p>
        </div>
    </div>
</section>



@code {

}
