<aside class="side-nav shadow">
    <a href="javascript:void(0)" class="closebtn">×</a>
    <h5 class="mb-0 pb-4 border-bottom text-center">
        <img src="/images/logo.svg" class="img-fluid"
             width="150" alt="Trankeet Logo" title="Trankeet Logo" />
    </h5>
    <nav class="navbar mt-5">

        @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button> *@

        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/App/Dashboard">Dashboard</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/App/MyCourses">My Courses</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/App/Mentorships">Mentorships</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/App/Messages">Messages</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/App/Transactions">Transactions</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/App/Notifications">Notifications</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/App/Support">Support</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/App/Settings/BasicInfo">Settings</NavLink>
            </li>
        </ul>
    </nav>
</aside>

@code {

}
