@using TrankeetWeb.Data
@inject NavigationManager NavigationManager;

<aside class="side-nav shadow">
    <a href="javascript:void(0)" class="closebtn">×</a>
    <h5 class="mb-0 pb-4 border-bottom text-center">
        <img src="/images/logo.svg" class="img-fluid"
             width="150" alt="Trankeet Logo" title="Trankeet Logo" />
    </h5>
    <nav class="navbar mt-5">

        @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button> *@

        <ul class="navbar-nav flex-grow-1">
            @foreach (var navItem in InnerSideMenuNavLinks.GetNavItems())
            {
                <li class="nav-item @(_currentPagePath.Contains(navItem.GetUrlPathWithoutLeadingSlash()) ? "active" : "")"
                  @onclick="() => {SetCurrentPagePath(navItem.GetUrlPathWithoutLeadingSlash());}"
                 >
                    <NavLink class="nav-link text-dark" href="@navItem.UrlPath">@navItem.Title</NavLink>
                </li>
            }
        </ul>
    </nav>
</aside>

@code {
    string _currentPagePath = string.Empty;

    protected override void OnInitialized()
    {
        SetCurrentPagePath(GetCurrentPagePath());
        base.OnInitialized();
    }

    /// <summary>
    ///  Sets the "_currentPagePath" private which is in turn used to determine which link should be marked as active with css styling.
    /// </summary>
    void SetCurrentPagePath(string currUrlPath)
    {
        _currentPagePath = currUrlPath;
    }

    string GetCurrentPagePath()
    {
        return NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    }

    
}
