<aside class="mentor-filter-box">
    <h5>Filter By:</h5>
    <section class="mt-3">
        <h6>Field Of Experties</h6>
        <div class="d-flex flex-column">
            <label class="d-flex align-items-center gap-2">
                <input type="checkbox" class="form-check" />
                <span>Marketing</span>
            </label>
            <label class="d-flex align-items-center gap-2">
                <input type="checkbox" class="form-check" />
                <span>Operations</span>
            </label>
            <label class="d-flex align-items-center gap-2">
                <input type="checkbox" class="form-check" />
                <span>Sales</span>
            </label>
            <label class="d-flex align-items-center gap-2">
                <input type="checkbox" class="form-check" />
                <span>Starting Up</span>
            </label>
            <label class="d-flex align-items-center gap-2">
                <input type="checkbox" class="form-check" />
                <span>Sustainability</span>
            </label>
            <label class="d-flex align-items-center gap-2">
                <input type="checkbox" class="form-check" />
                <span>Technology & Internet</span>
            </label>
        </div>
    </section>
    <section class="ratings-filter mt-3">
        <h6>Rating</h6>
        <div>
            <label class="d-flex gap-2">
                <input type="checkbox" class="form-check" />
                <span><img src="/images/star-rating-4.svg" /> <small>& above</small> </span>
            </label>
            <label class="d-flex gap-2">
                <input type="checkbox" class="form-check" />
                <span><img src="/images/star-rating-3.svg" /> <small>& above</small> </span>
            </label>
            <label class="d-flex gap-2">
                <input type="checkbox" class="form-check" />
                <span><img src="/images/star-rating-2.svg" /> <small>& above</small> </span>
            </label>
            <label class="d-flex gap-2">
                <input type="checkbox" class="form-check" />
                <span><img src="/images/star-rating-1.svg" /> <small>& above</small> </span>
            </label>
        </div>
    </section>
</aside>

@code {

}

