@inject NavigationManager NavigationManager;

<ul class="nav rounded-3 bg-white px-4 flex-nowrap overflow-auto gap-1 pt-3">
    <li class="nav-item sub-nav @(_uri.Contains("/BasicInfo") ? "active" : "") flex-shrink-0">
        <NavLink class="nav-link pt-0 pb-3 text-dark" Match="NavLinkMatch.All" href="/App/Settings/BasicInfo">
            Basic Info
        </NavLink>
    </li>
    <li class="nav-item sub-nav @(_uri.Contains("/ChangePassword") ? "active" : "") flex-shrink-0">
        <NavLink class="nav-link pt-0 pb-3 text-dark" Match="NavLinkMatch.All" href="/App/Settings/ChangePassword">
            Change Password
        </NavLink>
    </li>
</ul>




@code {
    string _uri = string.Empty;

    // Check the current URL to determine which link is active
    protected override void OnInitialized()
    {
        _uri = NavigationManager.Uri;
    }
}
