@using TrankeetWeb.Pages.Mentees
@inject NavigationManager NavigationManager;

<ul class="nav rounded-3 bg-white px-4 flex-nowrap overflow-auto gap-1 pt-3">
    <li class="nav-item sub-nav @(IsBasicInfoActive ? "active" : "") flex-shrink-0">
        <NavLink class="nav-link pt-0 pb-3 text-dark" Match="NavLinkMatch.All" href="/App/Settings/BasicInfo">
            Basic Info
        </NavLink>
    </li>
    <li class="nav-item sub-nav @(IsChangePasswordActive ? "active" : "") flex-shrink-0">
        <NavLink class="nav-link pt-0 pb-3 text-dark" Match="NavLinkMatch.All" href="/App/Settings/ChangePassword">
            Change Password
        </NavLink>
    </li>
</ul>




@code {
    // Define properties to track the active state of each link
    bool IsBasicInfoActive { get; set; }
    bool IsChangePasswordActive { get; set; }

    // Check the current URL to determine which link is active
    protected override void OnInitialized()
    {
        var uri = new Uri(NavigationManager.Uri);
        var segment = uri.Segments.LastOrDefault()?.Trim('/');

        IsBasicInfoActive = segment == "BasicInfo";
        IsChangePasswordActive = segment == "ChangePassword";
    }
}
